.projects__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
}

.projects__item {
  max-width: 270px;
  margin: 0 8px;
}