body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color:#333;
}

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  color: #999;
} */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

 /* .red { color: #CC5481 }
 .orange { color: #FC8E4E }
 .green { color: #6ACA89 }
 .blue { color: #5593B6 }
 .purple { color: #8865E5 }

 .bg_red { background-color: #CC5481 }
 .bg_orange { background-color: #FC8E4E }
 .bg_green { background-color: #6ACA89 }
 .bg_blue { background-color: #5593B6 }
 .bg_purple { background-color: #8865E5 } */